.header {
    display:flex;
    justify-content:center;
    background-color:rgb(179, 165, 165);
   
}


.links {
    display:flex;
    padding:0;
    
    gap:10px;
}

.backgroundoverlay{
    display:flex;
}

.picbackground {
    display:flex;
    background-color: lightblue;
    
    
}
.mtpic{
    width:500px;
    height:auto;
    border:3px solid green;
   
}


body {
    margin:0;
    padding:0;
}

ul {
    /*removes bullet points*/
    list-style-type:none;
}

a {
    /*remove line underneath */
    text-decoration:none;
    color:purple;
}
