
.flex-container {
    display:flex;
}

.flex-container div{
    background-color:lightblue;
    flex:1;
    text-align:center;
}

#picbackground {
    background-color: darkred;
}
.mtpic {
    width:500px;
    height:auto;
    display:inline;
    background-color: red;
    
}